*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
    padding:30px;
}

header{
    text-align:center;
    margin-bottom:40px;
}

header h1{
    font-size:3rem;
    color:#38bdf8;
}

header p{
    color:#cbd5e1;
    margin-top:10px;
}

.library{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.book-card{
    background:#1e293b;
    padding:25px;
    border-radius:15px;
    box-shadow:0 10px 20px rgba(0,0,0,.3);
    transition:.3s;
}

.book-card:hover{
    transform:translateY(-8px);
}

.book-card h2{
    color:#38bdf8;
    margin-bottom:10px;
}

.book-card p{
    color:#cbd5e1;
    margin-bottom:20px;
}

button{
    border:none;
    padding:12px 20px;
    border-radius:10px;
    background:#38bdf8;
    color:white;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    background:#0ea5e9;
}

#reader{
    margin-top:40px;
    background:#1e293b;
    padding:25px;
    border-radius:15px;
}

#reader h2{
    color:#38bdf8;
    margin-bottom:15px;
}

#content{
    line-height:1.8;
    color:#e2e8f0;
}
#reader{
    height: 600px;
    overflow-y: auto;
    padding: 30px;
}

#reader::-webkit-scrollbar{
    width: 8px;
}

#reader::-webkit-scrollbar-thumb{
    background: #38bdf8;
    border-radius: 10px;
}
.head{
    background-color: #0ea5e9;
    width: 100%;
    height: 20vh;
    display: flex;
    gap: 75%;
    border-radius: 10px;
    padding: 1%;
}
.check{
    background-color: #0f172a;
    border-radius: 200px;
    height: 6vh;
    width: 4vw;
}
.f1{
    gap: 100px;
}
.page{
    background:#1e293b;
    padding:25px;
    border-radius:15px;
    margin-bottom:30px;
}

.page h2{
    color:#38bdf8;
    margin-bottom:15px;
}

.page input{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    outline:none;
}

.f1 form{
    display:flex;
    gap:20px;
    align-items:center;
}

.f1 a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.f1 a:hover{
    color:#0f172a;
}

.forgot{
    margin-top: 1%;
    cursor: pointer;
}









@media screen and (max-width:950px) {
    .f1{
        display: none;
    }
    
}